@import '../../utils/mixins.scss';
@import '../../utils/_variables.scss';

.button {
  width: 15em;
  border-radius: 40px;
  border: 1px solid $white;
  background-color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $darkGreyBg;

@include for-tablet-portait-only {
  font-size: 11px;
}

  &-hasIcon {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    background-color: $tangeloOrange;
    border: 1px solid $tangeloOrange;
    padding: 0 1.5vw;
    margin: 0;
    align-self: center;

    &:hover {
      color: $darkGreyBg;
      cursor: pointer;
    }

    > div {
      margin: 0 0 0 1vw;
    }
  }
  
  &:hover {
    color: $tangeloOrange;
    cursor: pointer;
  }
}