@import '../../utils/mixins.scss';
@import '../../utils/_variables.scss';

.socialMediaSection {
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-left: 3vw;

  > h4 {
    margin: 8px 0;
  }

  @include for-phone-only {
    margin: 0;
  }

  &_links {
    margin: 25px 0;
    list-style: none;
    display: inline-block;
    padding: 0;
    display: flex;
    
    > li > a > i {
      background-color: $darkGreyBg;
      border-radius: 50%;
      opacity: 0.4;
      color: $white;
      display: inline-block;
      height: 2vw;
      line-height: 2vw;
      margin: auto 0.3vw;
      width: 2vw;
      font-size: 16px;
      text-align: center;

      &:hover {
        color: $tangeloOrange;
      }

      @include for-phone-only {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 2px #888;
        padding: 1em 1em;
       }
    }
  }
}