@import '../../../utils/mixins.scss';
@import '../../../utils/_variables.scss';

.footerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4vw;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.6;

  > h4 {
    margin: 8px 0;
  }

  > ul {
    list-style: none;
    margin: 1em -2.5em;

    > li > a {
      color: $darkGreyBg;
      &:hover {
        color: $lightGreyText;
      }
    }
  }

  @include for-phone-only {
    margin: 2vw 0;
  }
}