@import '../../utils/_variables.scss';

.testimonial {
  padding : 3vw;
  background-color: $lightGreyBg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_content {
    > p {
      font-size: 18px;
      line-height: 1.5em;
    }
  }

  &_signature {
    margin-top: 3.5vw;

    :first-child {
      color: $darkGreyBg;
    }
    > p {
      margin: 0;
      font-size: 1em;
    }
  }
}