@import '../../../utils/mixins.scss'; 
@import '../../../utils/_variables.scss'; 

.bodyBottomArea {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8%;
  margin-bottom: 5%;

  @include for-phone-only {
    padding: 5% 8%
  }

  &_title {
    > h2 {
      color: $darkGreyText;
      
      @include for-phone-only {
        margin: 5% 0;
        text-align: left;
      }
    }
  }

  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include for-phone-only {
      flex-direction: column;
      align-items: center;
    }

    &_testimonial {
      width: 40%;

      @include for-phone-only {
        order: 2;
        width: 100%;
        margin: 10% 0;
      }
    }
    &_description {
      width: 60%;
      margin: 0 8%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include for-phone-only {
        width: 100%;
        align-items: flex-start;
      }

      > div > h3 {
        margin: 0;
      }
    }
  }
}

/* IE10 & IE11 special CSS rules */
@media all and (-ms-high-contrast:none) {/* IE10 */
  .bodyBottomArea {
    flex: 1 1 auto;
  }
  .bodyBottomArea, .bodyBottomArea_content_description { 
    display: block; 

  } 
  *::-ms-backdrop, .bodyBottomArea { /* IE11 */
    flex: 1 1 auto;
  }
  *::-ms-backdrop, .bodyBottomArea, .bodyBottomArea_content_description { 
    display: block; 
  } 
}