@import '../utils/mixins.scss';
@import '../utils/_variables.scss';

.bodyContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  &_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: $darkGreyBg;
    height: 35em;

    &_logo {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      @include for-phone-only {
        flex-direction: column;
      }
    }
  }
  &_bottom {
    height: 100vh;
  }
}

/* IE10 & IE11 special CSS rules */
@media all and (-ms-high-contrast:none) {/* IE10 */
  .bodyContainer { 
    flex: auto; 
  } 
  *::-ms-backdrop, .bodyContainer {  /* IE11 */
    flex: auto; 
  } 
}