@import '../../utils/mixins.scss';
@import '../../utils/_variables.scss';

.heading {
  margin: 8% 15%;
  text-align: center;
  font-size: 40px;
  color: $darkGreyBg;

  @include for-phone-only {
    font-size: 25px;
  }
}

/* IE10 & IE11 special CSS rules */
@media all and (-ms-high-contrast:none) {/* IE10 */
  .heading { 
    margin: 15%; 
  } 
  *::-ms-backdrop, .heading {  /* IE11 */
    margin: 15%; 
  } 
}