@import '../utils/mixins.scss';
@import '../utils/_variables.scss';

.headerContainer {
  padding-top: 20px;
  background-color: $darkGreyBg;
  display: flex;
  align-items: baseline;
  justify-content: center;

  @include for-phone-only {
    margin-bottom: -100px;
  }
}