@import '../../../utils/mixins.scss';
@import '../../../utils/_variables.scss';

.bodyMiddleArea {
  padding: 1% 8%;
  background-color: $tangeloOrange;
  display: flex;
  flex: 0.2;
  align-items: center;
  height: fit-content;
  position: relative;
  overflow: hidden;

  @include for-phone-only {
    padding-bottom: 8%;
    flex-direction: column;
  }

  @include for-tablet-portait-only {
    padding-bottom: 8%;
    flex-direction: column;
  }

  &-isToggled {  
    display: flex;
    align-items: flex-start;
    background-color: $tangeloOrange;
    padding: 2% 9%;
    flex-direction: column;

    @include for-phone-only {
      padding: 30px;
    }

    > p {
      color: $white;
      margin: 0;

      @include for-phone-only {
        text-align: center;
    }
  }
}

  &_text {
    margin-right: 50px;

    @include for-phone-only {
      text-align: center;
      margin: 0;
    }
    > p {
      color: $white;
      opacity: 0.7;
      width: 65vw;
      font-size: 25px;
      padding: 10px;
    }
  }
}
/* IE10 & IE11 special CSS rules */
@media all and (-ms-high-contrast:none) {/* IE10 */
  .bodyMiddleArea { 
    position: absolute; 

    &-isToggled {
      margin-top: 11%;
    }
  } 
  *::-ms-backdrop, .bodyMiddleArea {  /* IE11 */
    position: absolute; 
    
    &-isToggled {
      margin-top: 11%;
    }
  } 
}