@import '../../utils/_variables.scss';
@import '../../utils/mixins.scss';

.paragraph {
  color: $lightGreyText;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bolder;
  
  @include for-phone-only {
    font-size: 16px;
  }
}