@import '../../../utils/mixins.scss';
@import '../../../utils/_variables.scss';

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
  }
  
  @include for-tablet-portait-only {
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
  }

  &_item {
    margin: 0 2vw;
    color: $lightGreyText;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.2px;
    position: relative;

    &_dropDown {
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
  }
}

.menu_item:hover > .menu_item_dropDown {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  
  @include for-tablet-portait-only {
    visibility: hidden;
  }
  @include for-phone-only {
    visibility: hidden;
  }
}

