// A file containing general variables used across the entire project
$darkGreyText: rgba(43,42,49,0.811);
$lightGreyText: rgb(145,143,143);
$darkGreyBg: rgb(74,73,73);
$lightGreyBg: rgba(238,236,235,0.56);
$tangeloOrange: rgb(255,103,0);
$white: rgb(255,255,255);

