@import '../../utils/_variables.scss';
@import '../../utils/mixins.scss';

.subheading {  
  color: $darkGreyBg;
  opacity: 0.7;
  font-size: 30px;

  @include for-phone-only {
    font-size: 18px;
  }
}