@import '../../utils/mixins.scss';
@import '../../utils/_variables.scss';

.smallLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
    
  &_icon {
    font-size: 30px;
    color: $tangeloOrange;
  }

  &_text {
    > h3 {
      margin: 0 10px;
      
      @include for-phone-only {
        margin: 30px 10px;
      }
    }
  }

  }