@import '../../../utils/variables.scss';

.dropdownMenu {
  background-color: $tangeloOrange; 
  transition-delay: 0s, 0s, 0.3s;
  right: 1em;
  position: absolute;

  &_box {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    border: 1px solid $tangeloOrange;
    padding: 1vw 2vw;

    &:hover {
      color: $darkGreyBg;
    }
    > h4 {
      margin: 0 0 0 1vw;
    }
  }

  &_dropdown {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid $tangeloOrange;
    background-color: $tangeloOrange;
    height: fit-content;
    text-align: center;
    padding: 0 5px;
    list-style: none;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

    > li > a > h4 {
      color: $white;
      padding: 1vw 0;
      margin: 0;
      
      &:hover {
        background-color: $white;
        color: $darkGreyBg;
      }
    }
  }
}