@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.footer {
  display: flex;
  margin: 5% 8%;
  align-items: flex-start;

  > a {
    color: #000;
    font-weight: bolder;
    &:hover {
      color: $darkGreyText;
    }
  }

  @include for-phone-only {
    flex-direction: column;
  }

  &_sections {
    display: flex;

    @include for-phone-only {
      flex-direction: column;
    }
  }
}