@import '../../utils/mixins.scss';
@import '../../utils/_variables.scss';

.largeLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include for-phone-only {
    flex-direction: column;
  }

  &_icon {
    font-size: 85px;
    color: $tangeloOrange;
  }

  &_text {
    > h1 {
    margin: 15px;
    color: $white;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;

      @include for-phone-only {
        font-size: 55px;
      }
    }
  }
}